Flask>=0.10.1
Flask-Session>=0.3.0
Flask-Cache>=0.13.1
Flask-RESTful>=0.3.5
SQLAlchemy>=1.1.4
Flask-SQLAlchemy>=2.1
toil>=3.3.3
boto3>=1.4.1
sqlalchemy-utils>=0.32.11
netaddr>=0.7.19
requests>=2.9.1
mock>=2.0
python-novaclient>=3.2.0
python-neutronclient>=2.6.0

gunicorn>=19.7.0
gevent>=1.1.1
rq>=0.7.1
flask-rq>=0.2
contextlib2>=0.5.1
rq-scheduler>=0.7.0

pyjwt>=1.4.2

psycopg2>=2.7.1
pandas>=0.17.1

Flask-APScheduler>=1.7.0
